@import "tailwindcss";

:root {
    --background: #F6F7F8;
    --foreground: #111827;
    --blue: #1173D4;
    --gray-light-1: #F3F4F6;
    --gray-light-2: #E5E7EB;
    --gray: #9CA3AF;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #111827;
        --foreground: #F6F7F8;
    }
} */

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
